MedicalDataAugmentationTool-master
MedicalDataAugmentationTool-MMWHS-master
Bibliografie.docx
U-net architecture.png
Medical assistant/MM-WHS 2017 Dataset.zip
Medical assistant/training.zip
Medical assistant/wholeheartseg_v2
Medical assistant/Whole heart segmentation/data
Medical assistant/Whole heart segmentation/src/model/localization_cnn.py
Medical assistant/Whole heart segmentation/src/model/segmentation_cnn.py
Thesis