.left-content{
    width: 50%;
    height: 100%;
    float: left;
}

.heart-picture{
    height: 100%;
    width: 100%;
}

.right-content{
    width: 50%;
    height: 100%;
    float: right;
}

.welcome-text{
    width: 50%;
    height: 100%;
    line-height: 30px;
    font-family: Arial;
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
    overflow-y: visible;
}

.text-wrapper-top{
    padding: 10px 10px;
    height: 20%;
}

.text-wrapper-bottom{
    padding: 10px 10px;
    height: 40%;
    width: 90%;
}

.welcome-title{
    font-size: 30px;
    padding: 50px 50px;
}

.top-content{
    float: top;
    max-height: 90%;
}

.bottom-content{
    float: bottom;
    max-height: 40%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 900px){
    .welcome-text{
        width: 50%;
        height: 100%;
        line-height: 10px;
        font-family: Arial;
        font-size: 15px;
        text-align: center;
        overflow-y: visible;
    }

    .welcome-title{
        font-size: 25px;
        padding: 25px 25px;
    }

}