.logo-image {
    min-height: 200%;
    min-width: 200%;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.logo-button{
    width: 50px;
    margin-right: 0px;
    padding-right: 0px;
}

.header {

}

.header-title{
    text-transform: none;
    margin-top: 3px;
    margin-left: 0px;
    padding-left: 10px;
}

.header-button{
    text-transform: none;
    margin-top: 3px;
    padding-left: 10px;
}